@use "colours";


#scs-scheme {
    text-align: left;
}

#scs-scheme h2 {
    margin-top: 30px;
}

#scs-scheme p {
    margin-top: 10px;
}

#scs-scheme a {
    color: colours.$dark_blue;
}

#scs-scheme ul {
    padding-left: 20px;
}

#scs-scheme li {
    list-style-type: disc;
}

