@use "layout";
@use "text";
@use "colours";


header {
    position: relative;
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "div"
        "scroll-down";

    @include colours.background_img_blend(colours.$darken, "stromatolites.png");
    background-size: cover;
    background-position: center;
    color: colours.$white;
}

header div {
    grid-area: div;
    width: 100%;
}

h1 {
    @include text.h1_text_sizes;
    text-shadow: 0 0 10px colours.$black;
}

header p {
    margin-top: 20px;
    @include text.header_p_text_sizes;
    text-shadow: 0 0 10px colours.$black;
}

#scroll-down {
    grid-area: scroll-down;
    margin: 15px 0;

    @include text.append_icon("arrow-down") {
        display: block;
        font-size: 35px;
        font-weight: 600;
    };
}
