@use "layout";
@use "text";
@use "colours";


header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    @include colours.background_img_blend(colours.$darken, "stromatolites.png");
    background-size: cover;
    background-position: center;
    color: colours.$white;
}

h1 {
    width: 100%;
    @include text.h1_text_sizes;
    @include layout.absolute_position_centred($top: 45%);
    text-shadow: 0 0 10px colours.$black;
}

header p {
    @include layout.absolute_position_centred($bottom: 45%);
    @include text.header_p_text_sizes;
}

#scroll-down {
    @include layout.absolute_position_centred($bottom: 35px);

    @include text.append_icon("icon-keyboard_arrow_down") {
        display: block;
        font-size: 35px;
        font-weight: 600;
    };
}