$_DEFAULT_FONTS: arial;


@mixin _text_sizes($font-size-rem, $fonts: $_DEFAULT_FONTS, $font-weight: normal) {
    font-family: $fonts;
    font-size: $font-size-rem;
    font-weight: $font-weight;
    line-height: $font-size-rem + 0.5rem;
}


@mixin normal_text_sizes { @include _text_sizes(1rem); }
@mixin h1_text_sizes { @include _text_sizes(3rem, $font-weight: bold); }
