$_DEFAULT_FONTS: arial;


@mixin _text_sizes($font-size-rem, $fonts: $_DEFAULT_FONTS, $font-weight: normal) {
    font-family: $fonts;
    font-size: $font-size-rem;
    font-weight: $font-weight;
    line-height: $font-size-rem + 0.5rem;
}


@mixin h1_text_sizes { @include _text_sizes(3rem, $font-weight: bold); }
@mixin h2_text_sizes { @include _text_sizes(1.6rem, $font-weight: bold); }
@mixin h3_text_sizes { @include _text_sizes(1.4rem, $font-weight: bold); }
@mixin header_p_text_sizes { @include _text_sizes(1.2rem); }
@mixin normal_text_sizes { @include _text_sizes(1rem); }
@mixin small_description_sizes { @include _text_sizes(0.85rem); }
