@use "accessibility";
@use "text";
@use "colours";


#contact {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "text form";
    gap: 20px;
    margin-top: 50px;
    align-items: start;
    text-align: left;
}

#contact-text {
    grid-area: text;
}

h2 {
    @include text.h2_text_sizes;
}

#contact-text a {
    display: block;
    @include text.contact-links-text-sizes;
}

#contact-text p {
    margin: 20px 0px;
}

#contact-form {
    grid-area: form;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form label {
    @include accessibility.non-bitmap-media-only;
}

#contact-form__names {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    background-color: colours.$light_grey;
}

 #contact-form textarea {
    min-height: max(180px, 2rem);
    align-content: start;
 }
