@function _translate_amount($start, $stop) {
    @if $start == null {
        @if $stop == null {
            @return 0;
        } @else {
            @return 50%;
        }
    } @else {
        @if $stop == null {
            @return -50%;
        } @else {
            @error "too many positioning args";
        }
    }
}


@mixin absolute_position_centred($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    transform: translate(_translate_amount($left, $right), _translate_amount($top, $bottom));
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}