@use "accessibility";
@use "layout";
@use "text";
@use "colours";


aside > nav {
    display: contents;
}

#nav-links {
    width: 100%;
    display: grid;

    @include layout.grid_from_template_areas(3, "hello there");
}

#home {
    width: 100%;

    img { display: none; }

    @include layout.short_breakpoint {
        span { display: none; }
        img { display: block; }
    }
}

#home img {
    height: 160px;
    width: 100%;
    padding: 30px;
    border-bottom: 3px solid colours.$blue;
    object-fit: contain;
}


#home span, #nav-links > li > a {
    margin: 12px 0px;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid colours.$blue;
    }
}

#nav-links__socials {
    padding: 12px 0px;
    display: flex;
    color: colours.$blue;

    a { margin: 2px 4px 6px 4px; }
}

.social-media-name { @include accessibility.non-bitmap-media-only; }
.social-media-logo {
    @include accessibility.bitmap-media-only;

    padding: 6px 4px 2px 4px;

    &:hover {
        border-bottom: 2px solid colours.$blue;
    }
}

#facebook .social-media-logo { @include text.prepend_icon("facebook") }
#instagram .social-media-logo { @include text.prepend_icon("instagram") }
#x .social-media-logo { @include text.prepend_icon("x") }
#linkedin .social-media-logo { @include text.prepend_icon("linkedin2") }
