@use "accessibility";
@use "text";
@use "colours";


#home-link {
    display: block;
    height: 160px;
    width: 100%;
    border-bottom: 3px solid colours.$blue;

    img {
        height: 100%;
        width: 100%;
        padding: 30px;
        object-fit: contain;
    }
}

aside > nav { padding: 30px 10px; }

#nav-links {
    display: flex;
    flex-direction: column;

    > li { display: contents; }
}

#nav-links > li > a {
    margin: 12px 0px;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid colours.$blue;
    }
}

#nav-links__socials {
    padding: 12px 0px;
    display: flex;
    color: colours.$blue;
}

.social-media-name { @include accessibility.non-bitmap-media-only; }
.social-media-logo {
    @include accessibility.bitmap-media-only;

    padding: 8px;
}

#facebook .social-media-logo { @include text.prepend_icon("facebook") }
#instagram .social-media-logo { @include text.prepend_icon("instagram") }
#x .social-media-logo { @include text.prepend_icon("x") }
#linkedin .social-media-logo { @include text.prepend_icon("linkedin2") }
