@use "accessibility";
@use "layout";
@use "text";
@use "colours";


aside > nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav-links {
    display: flex;
    flex-direction: column;
}

#logo-home-link {
    display: none;
    height: 160px;
    width: 100%;
    padding: 30px;
    border-bottom: 3px solid colours.$blue;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

#nav-links > li {
    display: block;
}


@include layout.short_breakpoint {
    #logo-home-link { display: block; }
    #list-home-link { display: none; }
}

@include layout.logo_left_breakpoint {
    #logo-home-link { display: block; }
    #list-home-link { display: none; }

    aside > nav {
        flex-direction: row;
    }

    #logo-home-link {
        width: min(45%, 200px);
        border-bottom: none;
        border-right: 3px solid colours.$blue;
    }

    #nav-links {
        flex: 1;
    }
}

@include layout.split_panes_breakpoint {
    aside > nav {
        flex-direction: column;
    }

    #logo-home-link {
        border-right: none
    }
}


#home span, #nav-links > li {
    padding: 12px 0px;

    > a { border-bottom: 2px solid transparent; }
    > a:hover { border-bottom: 2px solid colours.$blue; }
}

#nav-links__socials {
    padding: 12px 0px;
    display: flex;
    color: colours.$blue;

    a { margin: 2px 4px 6px 4px; }
}

.social-media-name { @include accessibility.non-bitmap-media-only; }
.social-media-logo {
    @include accessibility.bitmap-media-only;

    padding: 6px 4px 2px 4px;

    &:hover {
        border-bottom: 2px solid colours.$blue;
    }
}

#facebook .social-media-logo { @include text.prepend_icon("facebook") }
#instagram .social-media-logo { @include text.prepend_icon("instagram") }
#x .social-media-logo { @include text.prepend_icon("x") }
#linkedin .social-media-logo { @include text.prepend_icon("linkedin2") }
